{% extends "layout.html" %}


{% block body %}
	<div class="row">
    <div class="col-md-4 col-md-offset-4">
    	<h2>Авторизация</h2>
		<form name="login" action="/login" method="POST">
		<div class="control-group">
		  <!-- E-mail -->
		  <label class="control-label" for="username">Username</label>
		  <div class="controls">
		    <input type="text" name="username" placeholder="Username"  class="form-control">
		  </div>
		</div>

		<div class="control-group">
		  <!-- Password -->
		  <label class="control-label" for="password">Password</label>
		  <div class="controls">
		    <input type="text" name="password" placeholder="Password"  class="form-control">
		  </div>
		</div>

		<button type="submit" class="btn btn-default">Login</button>
		</form>
    </div>
  </div>
{% endblock %}
