/* KimYen Truong - Section BG - HW 8 - Feature # 2, 5 */

body {
	text-align: center;
	font-family: cursive;
	font-size: 14pt;
}

#puzzlearea {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#puzzlearea, .tile {
	padding: 0px;
}

.tile {
	background-image: url('image.jpg');
	background-repeat: no-repeat;
	margin: 0px;
	border: 5px solid black;
	font-size: 40pt;
}

